* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container{
display: flex;
justify-content: space-between;
align-items: center;
padding: 16px 120px 16px 120px;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000000;
}
nav ul {
    display: flex;
    gap: 30px;
}
.btn {

    background-color: #44a66d;
    border: none;
    padding: 18.30px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor:pointer;

}
.btn-right {
    background-color:#30B868;
    color: white;
}

.btn-right:hover {
    background-color:#44a66d;
}

.btn-lift {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}

.btn-lift:hover {
    background-color:#93a89c;
}

.hero{
    
display: flex;
flex-direction: column;
margin: 0 auto;
justify-content: flex-start;
align-items: center;
padding:50px ;
gap: 50;
background-image: url("../Image/hero-bg.png");

}


.hero-content {
    position: relative;
    
    max-width: 800px;
}

.badge {
    background: rgba(255, 255, 255, 0.9);
    color: #30B868;
    
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 600;
    width: 229px;
    height: 35px;
    margin-bottom: 17px;
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 15;
    margin: 0 auto;
    margin-right: 250px;
    
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    color: white;
}

.hero h1 .highlight {
    color: #30B868;
}

.hero p {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

